@model news
@{
    ViewBag.Title = "details";
}
@section styles
{
    <link href="~/Content/myNews.css" rel="stylesheet" />
}

<div class="myNews">
    <div class="container ">
        <h1 class="page-title page-header">@Model.title</h1>

        <div class="row news-card">
            <h1 class="text-center title">@Model.title</h1>
            <div class="col-md-12">
                <div class="photo text-center photo-dateils">
                    <img class="img-responsive" src="~/Attach/imageNews/@Model.photo" />

                </div>
            </div>
            <div class="col-md-12">
                <div class="info">
                    <p class="lead bref">@Model.bref</p>
                    <p class="lead">@Model.desc</p>
                    <h3 class="lead Aouther">Aouther: @Model.user.username</h3>
                    <h3 class="lead Catigory">Catigory: @Model.catalog.name</h3>
                    <h5 class="lead date">@Model.date</h5>
                </div>
            </div>

        </div>
    </div>
</div>


